body {
    font-family: 'Inter';
    background-color: white;
    margin: 0;
}
.results_main {
    min-height: 110vh;
    margin-bottom: -5vh;
}
.footer {
    background-color: #FFD700;
    display: flex;
}
.footer_line {
    background-color: #252525;
    vertical-align: bottom;
}

header {
    background-color: #FFD700;
    height: 100%;
}
header input {
    border-width: 0px;
    width: 20vw;
    height: 3vw;
    font-size: 2vw;
}
header form {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 1vw 2vw 1vw 1vw;
}

header a:hover {
    color: white;
    text-decoration: none;
}
header a:visited {
    color: white;
    text-decoration: none;
}
header a:link {
    color: white;
    text-decoration: none;
}
header a:active {
    color: white;
    text-decoration: none;
}



