/*
 * Index
 */

.index_main{
    height: 62vh;
}

.titel {
    color: #252525;
    text-align: center;
    font-size: 100px;
    margin-top: 30vh;
}

.sokfalt {
    background-color: #FFD700;
    width: 800px;
    height: 70px;
    padding: 10px;
    margin: auto;
}

.sok {
    text-align: left;
    font-style: italic;
    border-width: 0;
    width: 80%;
    height: 40px;
    font-size: 20px;
    margin: 15px 0;
    color: #252525;
}
.sokfalt label {
    font-size: 20px;
    margin-right: 10px;
}

.bakgrund {
    height: 92vh;
    width: 100vw;
    background-image: url("../images/lego2.webp");
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    right: 0;
    background-position-x: center;
    background-size: cover;
}

.bakgrund img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

@media (max-width: 900px) or (orientation: portrait) {

    .bakgrund  {
        height: 100vh;
    }

    .index_main {
        height: 60vh;
    }

    .titel {
        font-size: 11vw;
        margin-top: 30vh;
    }

    .sokfalt {
        padding: 1vw;
        height: auto;
        width: 60vw;
    }

    .sokfalt label {
        font-size: 2.5vw;
        margin-right: 1vw;
    }
    
    .sok {
        width: 45vw;
        height: 4vh;
        font-size: 2.5vw;
        margin: 1vh 0;
    }

    .bakgrund{
        background-image: url("../images/lego2-vertical.webp");
    }
    
}