body {
    font-family: 'Inter';
    background-color: white;
    margin: 0;
}

.footer {
    background-color: #FFD700;
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 100%;
}

.footer_line {
    background-color: #252525;
    vertical-align: bottom;
    height: 2.5px;
    margin: 45px 45% 0 45%
}

.how_to {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}
.footer p {
    width: 500px;
    text-align: center;
    color: #252525;
    font-size: 20px;
}

.breadcrumb {
    font-size: 20px;
    margin: 30px;
    color: grey;
}
.breadcrumb a:hover {
    color: grey;
}
.breadcrumb a:visited {
    color: grey;
}
.breadcrumb a:link {
    color: grey;
}
.breadcrumb a:active {
    color: grey;
}

@media (max-width: 800px) or (orientation: portrait) {
    .footer {
        height: 25vh;
    }
    .footer p {
        width: 70vw;
        font-size: 2.5vw;
    }
    
    .footer_line {
        height: 0.25vw;
        margin: 1vw 45vw 0 45vw;
    }

    .breadcrumb {
        font-size: 3vw;
        margin: 3vw;
    }
}

header {
    background-color: #FFD700;
    height: 150px;
}
.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header input {
    border-width: 0px;
    width: 350px;
    height: 50px;
    font-size: 25px;
    color: #252525;
    padding: 0 0 0 8px;
}
header form {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 50px;
}

header a:hover {
    color: white;
    text-decoration: none;
}
header a:visited {
    color: white;
    text-decoration: none;
}
header a:link {
    color: white;
    text-decoration: none;
}
header a:active {
    color: white;
    text-decoration: none;
}
.logo {
    display: flex;
    background-color: #DA291C;
    color: white;
    font-size: 40px;
    padding: 15px 20px;
    margin: 15px 35px;
}

label{
    display: inline-block;
    text-align: center;
    color: #252525;
}
label p{
    color: #252525;
}
.search_label {
    font-size: 25px;
    margin-right: 10px;
}

.page-nav {
    margin: auto;
}

.page-nav a {
    font-size: 35px;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.page-nav span {
    font-size: 35px;
    margin: 0 20px;
    color: #252525;
}

